/* Scss Document */
/* mixin */
body {
  margin: 0 auto;
  width: 800px; }
  body header h1 {
    font-family: "lucida grande", "lucida sans", sans-serif;
    font-size: 300%;
    font-weight: bold;
    border-bottom: 1px dotted #333; }
  body div {
    margin: 0 0 20px; }
  body footer {
    border-top: 1px solid #888; }
    body footer address {
      font-size: 90%; }
