/* Scss Document */
$black: #333;
$gray: #888;

/* mixin */
@mixin logofont {
  font: {
    family: "lucida grande", "lucida sans", sans-serif;
    size:   300%;
    weight: bold;
  }
}

body {
  margin: 0 auto;
  width: 800px;

  header {
    h1 {
      @include logofont;
      border-bottom: 1px dotted $black;
    }
  }

  div {
    margin: 0 0 20px;
  }

  footer {
    border-top: 1px solid $gray;

	address {
      font-size: 90%;
    }
  }
}
